@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using MyProject12.Controllers;
@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Common.Security
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Cms.Core.Services
@using Umbraco.Extensions
@inject IMemberExternalLoginProviders memberExternalLoginProviders
@inject ITwoFactorLoginService twoFactorLoginService
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@{
    var loginModel = new LoginModel();
    // You can modify this to redirect to a different URL instead of the current one
    loginModel.RedirectUrl = null;
    var antiforgeryToken = Xsrf.GetAndStoreTokens(Context).RequestToken;

}
<script>
    $(document).ready(function () {
    @if (ViewData.ModelState.ContainsKey("loginModel"))
    {
        <text>

                $('#loginModal').removeClass('fade');  // Remove the fade class
            $('#loginModal').modal('show');       // Show the modal without animation
            $('#loginModal').addClass('fade');
            $(document).ready(function () {

                loadRecaptcha();
            });
        </text>
    }

                        });
</script>


<div id="loginModal" tabindex="-1" role="dialog" class="modal fade" style="display: none;" aria-hidden="true">

    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-primary text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="סגור"><i class="material-icons" aria-hidden="true" lang="en" translate="no">clear</i></button>
                        <h3 class="mb-2 card-title">התחברות</h3>
                    </div>
                </div>
                <div id="loginForm">


                @if (ViewData.TryGetTwoFactorProviderNames(out var providerNames))
                {

                    foreach (var providerName in providerNames)
                    {
                        <div class="2fa-form">
                            <h4>אימות דו שלבי עם @providerName.</h4>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            @using (Html.BeginUmbracoForm<UmbTwoFactorLoginController>(nameof(UmbTwoFactorLoginController.Verify2FACode), null, new { aria_label = "טופס אימות דו שלבי" }))
                            {

                                <text>
                                    <input type="hidden" name="provider" value="@providerName" />
                                    נא להכניס את קוד האבטחה: <input name="code" value="" /><br />
                                    <button type="submit" class="btn btn-primary">אימות</button>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </text>
                            }
                        </div>
                    }

                }
                else
                {
                    <div class="login-form">
                        @using (Html.BeginUmbracoForm<CustomLoginController>(
                          "HandleLogin", new { RedirectUrl = loginModel.RedirectUrl }, new { name = "loginForm", aria_label = "טופס התחברות" }))
                            {
                            <div class="modal-body">
                                <div class="card-body">
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons" aria-hidden="true" lang="en" translate="no">mail</i>
                                                </span>
                                            </div>
                                            <label asp-for="@loginModel.Username" class="bmd-label-floating login-field">אימייל</label>
                                            <input asp-for="@loginModel.Username" type="email" autocomplete="username" aria-describedby="loginModel_Username-error" aria-invalid="false" data-val-required="נדרש אימייל" class="form-control" />
                                            <span asp-validation-for="@loginModel.Username" id="loginModel_Username-error" class="login-error" role="alert" aria-live="polite"></span>
                                        </div>
                                    </div>

                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons" aria-hidden="true" lang="en" translate="no">password</i>
                                                </span>
                                            </div>
                                            <label asp-for="@loginModel.Password" class="bmd-label-floating login-field">סיסמא</label>
                                            <input asp-for="@loginModel.Password" type="password" autocomplete="current-password" aria-describedby="loginModel_Password-error" aria-invalid="false" data-val-required="נדרשת סיסמא" class="form-control" />
                                            <span asp-validation-for="@loginModel.Password" id="loginModel_Password-error" class="login-error" role="alert" aria-live="polite"></span>
                                        </div>
                                    </div>

                                    @if (ViewData.ModelState["loginModel"] != null && ViewData.ModelState["loginModel"].Errors.Any(x => x.ErrorMessage == "נדרש אימות לחשבון"))
                                    {
                                            <input type="hidden" id="tempEmail" value="@TempData["emailForVerification"]" />

                                        <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons" aria-hidden="true" lang="en" translate="no">key</i>
                                                    </span>
                                                </div>
                                                <label class="bmd-label-floating login-field" for="verification_code">קוד אימות מהמייל</label>
                                                <input data-val-required="נדרש קוד אימות" class="form-control" type="text" autocomplete="one-time-code" data-val-length-max="256" id="verification_code" maxlength="256" name="verificationCode">
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-link" id="resendVerificationLink">לשליחה חוזרת של לינק/קוד לאימות</button>
                                        </div>
                                    }

                                    <div class="form-group bmd-form-group">
                                        <div class="input-group justify-content-center">
                                            <div class="input-group-prepend">
                                            </div>
                                            <input asp-for="@loginModel.RememberMe" class="mx-2">
                                            <label asp-for="@loginModel.RememberMe" class="form-check-label">
                                                זכור אותי
                                            </label>
                                        </div>
                                    </div>


                                    </div>
                                </div>
                            @if (ViewData.ModelState.ContainsKey("loginModel"))
                            {
                                <div class="form-group bmd-form-group">
                                    <div style="text-align:center">
                                        @foreach (var error in ViewData.ModelState["loginModel"].Errors)
                                        {
                                            <div class="text-danger mb-2">@error.ErrorMessage </div>
                                        }
                                    </div>
                                </div>

                                @if (ViewData.ModelState["loginModel"].Errors.Any(e => e.ErrorMessage == "שם המשתמש או הסיסמא אינם נכונים" || e.ErrorMessage == "המשתמש נעול - יש לאפס סיסמא"))
                                {
                                    <div class="form-group text-center">
                                        <button type="button" class="btn btn-primary btn-link" id="resetPasswordButton">איפוס סיסמא</button>
                                    </div>

                                    <script>
                                        $('#resetPasswordButton').click(function () {
                                            var email = $('#loginModel_Username').val(); // Assumes the input field for email/username has this ID

                                            $.ajax({
                                                url: '@Url.SurfaceAction("SendPasswordReset","CustomLogin")',
                                                type: 'POST',
                                                data: { __RequestVerificationToken: '@antiforgeryToken', email: email },
                                                success: function (response) {
                                                    // Replace the entire login form with the success message
                                                    $("#loginForm").html('<h4 class="m-4 text-center text-success">' + response + '</h4>');
                                                },
                                                error: function (xhr) {
                                                    // Replace the entire login form with the error message
                                                        $("#loginForm").html('<h4 class="m-4 text-center text-danger">' + xhr.responseText + '</h4>');
                                                }
                                            });
                                        });
                                    </script>
                                }
                            }


                            <div id="login-message"></div>

                            <div class="modal-footer justify-content-center">
                                <input type="hidden" name="captcha" id="captchaInputLogin" data-captcha-login="true" />
                                <button type="submit" class="btn btn-primary btn-wd mb-4">התחברות</button>
                            </div>
                        }
                    </div>

                    @if (ViewData.ModelState["loginModel"] != null && ViewData.ModelState["loginModel"].Errors.Any(x => x.ErrorMessage == "נדרש אימות לחשבון"))
                    {
                        <script>
                            $(document).ready(function () {
                                $('#resendVerificationLink').on('click', function (e) {
                                    e.preventDefault();  // Prevents the default behavior of the link
                                    sendVerificationEmail();
                                    $(this).replaceWith('<p class="text-success">נשלחו לינק וקוד לאימות</p>');
                                });
                            });

                            function sendVerificationEmail() {
                                var emailValue = $('#tempEmail').val();

                                $.ajax({
                                    type: "POST",
                                        data: { __RequestVerificationToken: '@antiforgeryToken', email: emailValue },
                                        url: '@Url.SurfaceAction("sendVerificationEmail","CustomLogin")',
                                    success: function (response) {
                                        console.log('Verification email sent successfully.', response);
                                    },
                                    error: function (error) {
                                        console.error('Error sending verification email.', error);
                                    }
                                });
                            }


                        </script>
                    }

                }

                @{
                    var loginProviders = await memberExternalLoginProviders.GetMemberProvidersAsync();
                    var externalSignInError = ViewData.GetExternalSignInProviderErrors();

                    if (loginProviders.Any())
                    {
                        <hr />
                        <h4>או באמצעות ספקים חיצוניים</h4>
                        if (externalSignInError?.AuthenticationType is null && externalSignInError?.Errors.Any() == true)
                        {
                            @Html.DisplayFor(x => externalSignInError.Errors)
                            ;
                        }

                        @foreach (var login in await memberExternalLoginProviders.GetMemberProvidersAsync())
                        {

                            @using (Html.BeginUmbracoForm<UmbExternalLoginController>(nameof(UmbExternalLoginController.ExternalLogin), null, new { aria_label = "טופס התחברות באמצעות ספק חיצוני" }))
                            {
                                <button type="submit" name="provider" value="@login.ExternalLoginProvider.AuthenticationType">
                                    התחברות באמצעות @login.AuthenticationScheme.DisplayName
                                </button>

                                if (externalSignInError?.AuthenticationType == login.ExternalLoginProvider.AuthenticationType)
                                {
                                    @Html.DisplayFor(x => externalSignInError.Errors);
                                }
                            }
                        }
                    }
                }
                </div>
            </div>
        </div>
    </div>
</div>
