@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Microsoft.AspNetCore.Http.Extensions
@using MyProject12.Controllers;
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Security
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Cms.Web.Website.Models
@using Umbraco.Extensions
@inject MemberModelBuilderFactory memberModelBuilderFactory;

@{

    // Build a registration model with parameters
    var registerModel = memberModelBuilderFactory
        .CreateRegisterModel()
        // Set the member type alias to use for the new member
        .WithMemberTypeAlias(Constants.Conventions.MemberTypes.DefaultAlias)
        // If null or not set, this will redirect to the current page
        .WithRedirectUrl(null)
        // Set to true if you want the member editable properties shown.
        // It will only displays properties marked as "Member can edit" on the "Info" tab of the Member Type.
        .WithCustomProperties(false)
        // By default the member will be logged in automatically after registration.
        // Set this to false if the member should not be logged in automatically.
        .WithAutomaticLogIn(true)
        .Build();
    var success = TempData["FormSuccess"] != null;
    var failure = TempData["FormFailure"] != null;



    dynamic account = Umbraco.Content(3738);


}


<script>
    $(document).ready(function () {
    @if (ViewData.ModelState.ContainsKey("registerModel"))
    {
        <text>
                $('#registerModal').removeClass('fade');  // Remove the fade class
            $('#registerModal').modal('show');       // Show the modal without animation
            $('#registerModal').addClass('fade');
            $(document).ready(function () {

                loadRecaptcha();
            });
        </text>
    }
    @if (success)
    {
        <text>
                $('#registerModal').removeClass('fade');  // Remove the fade class
            $('#registerModal').modal('show');       // Show the modal without animation
            $('#registerModal').addClass('fade');

        </text>
    }
                });
</script>
<div id="registerModal" tabindex="-1" role="dialog" class="modal fade" style="display: none;" aria-hidden="true">

    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="סגור"><i class="material-icons" aria-hidden="true" lang="en" translate="no">clear</i></button>
                        <h3 class="mb-2 card-title">הרשמה</h3>
                    </div>
                </div>

                @if (success)
                {
                    <div class="text-center">
                    @* This message will show if registerModel.RedirectUrl is not defined (default) *@
                        <h3 class="text-success m3">ההרשמה הושלמה בהצלחה!</h3>
                        <p class="m-3">להפעלת החשבון אנא בדקו את תיבת הדואר האלקטרוני שלכם ולחצו על הקישור לאימות כתובת האימייל. במידה והאימות לא יתבצע תוך 24 שעות החשבון ימחק.</p>
                    </div>

                }
                else if(failure)
                {
                    <div class="text-center">
                        @* This message will show if registerModel.RedirectUrl is not defined (default) *@
                        <h3 class="text-danger m3">אירעה שגיאה</h3>
                    </div>
                }
                else if (!account.RegistrationAllowed)
                {
                    <div class="text-center">
                        @* This message will show if registerModel.RedirectUrl is not defined (default) *@
                        <h4 class="text-success m3">@account.NoRegistrationMessage</h4>
                    </div>
                }
                else
                {
                    using (Html.BeginUmbracoForm<CustomRegisterController>(
                    "HandleRegisterMember",
                    new
                    {
                        MemberTypeAlias = registerModel.MemberTypeAlias,
                        UsernameIsEmail = registerModel.UsernameIsEmail,
                        RedirectUrl = registerModel.RedirectUrl,
                        AutomaticLogIn = registerModel.AutomaticLogIn
                    }, new { name = "registerForm", aria_label = "טופס הרשמה לאתר" }))
                    {
                        <div style="text-align:center">
                            <h4 class="mt-4">ברוכים הבאים!</h4>
                            <p class="mx-4 my-3 "> כל אחד יכול להירשם בחינם לאתר שלנו, לכתוב תגובות ולהצטרף לדיונים על התוכן.<br /><br /> לאחר ההרשמה, אתם גם יכולים להפוך למנויים ולהינות מגישה מלאה לכל התכנים המרתקים שלנו בתשלום של @account.SubscriptionDirectDebitPrice ₪ בחודש ברכישת מנוי חודשי מתחדש, או @account.SubscriptionYearlyMonthlyPrice ₪ לחודש ברכישת מנוי לשנה. הצטרפו אלינו וגלו עולם של תוכן משנה חיים!</p>
                            <button class="btn btn-success btn-link btn-wd btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#registerSubscribeModal">להרשמה עם רכישת מנוי לחצו כאן</button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">



                                <div class="form-group bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons" aria-hidden="true" lang="en" translate="no">badge</i>
                                            </span>
                                        </div>
                                        <label asp-for="@registerModel.Name" class="bmd-label-floating login-field">שם מלא</label>
                                        <input asp-for="@registerModel.Name" class="form-control form-control-green" autocomplete="name" aria-required="true" aria-describedby="registerModel_Name-error" aria-invalid="false" data-val="true" data-val-required="נדרש שם" data-val-regex="נדרש שם מלא - שם ושם משפחה" data-val-regex-pattern="^\s*\S+(\s+\S+)+\s*$" />
                                        <span asp-validation-for="@registerModel.Name" id="registerModel_Name-error" class="login-error" role="alert" aria-live="polite"></span>
                                    </div>
                                </div>

                                <div class="form-group bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons" aria-hidden="true" lang="en" translate="no">email</i>
                                            </span>
                                        </div>
                                        <label asp-for="@registerModel.Email" class="bmd-label-floating login-field">אימייל</label>
                                        <input asp-for="@registerModel.Email" type="email" data-val-email="כתובת האימייל אינה חוקית" data-val-required="נדרשת כתובת אימייל" class="form-control form-control-green" autocomplete="username" aria-required="true" aria-describedby="registerModel_Email-error" aria-invalid="false" />
                                        <span asp-validation-for="@registerModel.Email" id="registerModel_Email-error" class="login-error" role="alert" aria-live="polite"></span>
                                    </div>
                                </div>
                                <div class="form-group bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons" aria-hidden="true" lang="en" translate="no">password</i>
                                            </span>
                                        </div>
                                        <label asp-for="@registerModel.Password" class="bmd-label-floating login-field">סיסמא</label>
                                        <input asp-for="@registerModel.Password" type="password" data-val-required="נדרשת סיסמא" class="form-control form-control-green" autocomplete="new-password" aria-required="true" aria-describedby="registerModel_Password-error" aria-invalid="false" />
                                        <span asp-validation-for="@registerModel.Password" id="registerModel_Password-error" class="login-error" role="alert" aria-live="polite"></span>
                                    </div>
                                </div>
                                <div class="form-group bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons" aria-hidden="true" lang="en" translate="no">done_all</i>
                                            </span>
                                        </div>
                                        <label asp-for="@registerModel.ConfirmPassword" class="bmd-label-floating login-field">אימות סיסמא</label>
                                        <input asp-for="@registerModel.ConfirmPassword" type="password" autocomplete="new-password" data-val-equalto="הסיסמאות אינן תואמות" data-val-required="נדרשת סיסמא לאימות" class="form-control form-control-green" aria-describedby="registerModel_ConfirmPassword-error" aria-invalid="false" />
                                        <span asp-validation-for="@registerModel.ConfirmPassword" id="registerModel_ConfirmPassword-error" class="login-error" role="alert" aria-live="polite"></span>
                                    </div>
                                </div>
                                <div class="form-group bmd-form-group">
                                    <div class="input-group justify-content-center">
                                        <div class="input-group-prepend">
                                        </div>
                                        <input type="checkbox" name="takanon" class="mx-2" value="true" id="takanonCheckbox">
                                        <label class="form-check-label" for="takanonCheckbox">
                                            קראתי ואני מסכים <a class="text-success" href="/תקנון" target="_blank" rel="noopener">ל<strong>תקנון</strong></a> האתר
                                        </label>
                                        <!-- Error message span -->
                                    </div>
                                </div>

                                @*                                 @if (registerModel.MemberProperties != null)
                        {
                        for (var i = 0; i < registerModel.MemberProperties.Count; i++)
                        {
                        <div class="mb-3">
                        @Html.LabelFor(m => registerModel.MemberProperties[i].Value, registerModel.MemberProperties[i].Name)
                        <input asp-for="@registerModel.MemberProperties[i].Value" class="form-control" />
                        @Html.HiddenFor(m => registerModel.MemberProperties[i].Alias)
                        <span asp-validation-for="@registerModel.MemberProperties[i].Value" class="form-text text-danger"></span>
                        </div>
                        }
                        } *@

                            </div>
                        </div>
                        @if (ViewData.ModelState.ContainsKey("registerModel"))
                        {
                            <div class="form-group bmd-form-group">
                                <div style="text-align:center">
                                    @foreach (var error in ViewData.ModelState["registerModel"].Errors)
                                    {
                                        string message = "";
                                        if (error.ErrorMessage == "The password must be at least 10 characters long") message = "על הסיסמא להיות באורך עשרה תווים לפחות";
                                        else message = error.ErrorMessage;
                                        <div class="text-danger mb-2">@message </div>
                                    }
                                </div>
                            </div>
                        }
                        <div class="modal-footer justify-content-center">
                            <input type="hidden" name="captcha" id="captchaInputRegister" data-captcha-register="true" />
                            <button type="submit" class="btn btn-success btn-wd mb-4">הרשמה</button>
                        </div>


                    }
                }
            </div>
        </div>
    </div>
</div>
