@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Articles>
@{
    Layout = "master.cshtml";
}
<div class="sec-page-header page-header header-filter clear-filter" style="margin-top:0em;background-image: url('@Url.GetOptimizedCropUrl(Model.Image, "full")');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1>מאמרים</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<nav id="cd-vertical-nav">
    <ul class="mb-0 p-3">
        @if (Model.ArticleCategoryList != null)
        {
            int c = 1;
            foreach (ArticleCategory ac in Model.ArticleCategoryList)
            {
                <li>
                    <a href="#@c" data-number="@c">
                        <span class="cd-dot"></span>
                        <span class="text-primary cd-label">@ac.Title</span>
                    </a>
                </li>
                c++;
            }
        }
    </ul>
</nav>
<a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>


<div class="container pt-0">
    @if (Model.ArticleCategoryList != null)
    {
        int c = 0;
        foreach (ArticleCategory ac in Model.ArticleCategoryList)
        {
            c++;

            <div class="sec" id="@c"></div>
            <a href="@ac.Url()">
                <h2 class="title text-primary">@ac.Title</h2>
            </a>
            <div class="row  pl-3" style="text-align:center;">
                @try
                {
                @foreach (dynamic article in ac.ArticleList)
                {

                    if (article is Article actualArticle)
                    {
                        // Handle the Article scenario
                        <div class="col-lg-3 col-md-4 col-6 pl-0 " style="overflow:hidden">
                            <a href="@actualArticle.Url()">
                                @if (actualArticle.New)
                                {
                                    <div class="new">
                                        <div class="new-text">חדש</div>
                                    </div>
                                }
                                <img src="@Url.GetOptimizedCropUrl(actualArticle.Image, "small")" alt="@actualArticle.ImageAlt" class="rounded img-fluid" loading="lazy" decoding="async">
                                <h5 style="line-height: 22px;" class="title m-2" class="title m-2">@actualArticle.Title</h5>
                            </a>
                        </div>
                    }
                    else if (article is ArticleCategory actualArticleCategory)
                    {
                        // Handle the ArticleCategory scenario
                        <div class="col-lg-3 col-md-4 col-6 pl-0 " style="overflow:hidden">
                                                        <a href="@actualArticleCategory.Url()">

                                                        <div class="image-container" style=" position: relative; display: flex; align-items: center; justify-content: center;">
                                <span class="badge badge-pill badge-primary time">@(actualArticleCategory.Children.Count()) מקבצים / מאמרים</span>


                            <i class="material-icons list" aria-hidden="true" lang="en" translate="no">list</i>

                                <img src="@Url.GetOptimizedCropUrl(actualArticleCategory.Image, "small")" alt="@actualArticleCategory.ImageAlt" class="rounded img-fluid" loading="lazy" decoding="async">
                            </div>
                                                            <h5 style="line-height: 22px;" class="title m-2" class="title m-2">@actualArticleCategory.Title</h5>

                                                        </a>

                        </div>
                    }

                }
                }
                catch{}
            </div>
            <hr />
        }

    }

</div>

<script>
    function offsetAnchor() {
        if (location.hash.length !== 0) {
            window.scrollTo(window.scrollX, window.scrollY - 100);
        }
    }
    $(document).on('click', 'a[href^="#"]', function (event) {

        window.setTimeout(function () {
            offsetAnchor();
        }, 0);
    });
    window.setTimeout(offsetAnchor, 0);
</script>
<script src="/js/vertical-nav.js"></script>
