@using MyProject12;
@using Umbraco.Cms.Core.Security;
@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inject IMemberManager _memberManager
@inject LessonBlobService BlobService
@inject DB db
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Podcasts>
@{
    Layout = "master.cshtml";

    bool hasActiveMembership = false;
    bool memberLogged = _memberManager.IsLoggedIn();
    if (memberLogged)
    {
        var member = await _memberManager.GetCurrentMemberAsync();
        var membership = db.Memberships.FirstOrDefault(x => x.memberID == member.Id);
        if (membership != null) hasActiveMembership = !membership.Expired;
    }

    LessonCategory podcastCategory = Umbraco.Content(3778) as LessonCategory;
    Lessons lessonsRoot = podcastCategory?.Parent as Lessons;
}

@if (podcastCategory != null)
{
    <div class="sec-page-header page-header header-filter clear-filter" style="margin-top:0em;background-image: url('@Url.GetCropUrl(lessonsRoot?.Image, "full")');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h1>@podcastCategory.Title</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav id="cd-vertical-nav">
        <ul class="mb-0 p-3">
            @if (podcastCategory.LessonList != null)
            {
                int c = 1;
                foreach (dynamic lessonGroup in podcastCategory.LessonList)
                {
                    if (lessonGroup.ContentType.Alias == "lessonGroup" && ((LessonGroup)lessonGroup).Children.Count() > 0)
                    {
                        <li>
                            <a href="#@c" data-number="@c">
                                <span class="cd-dot"></span>
                                <span class="text-primary cd-label">@lessonGroup.Title</span>
                            </a>
                        </li>
                        c++;
                    }
                }
            }
        </ul>
    </nav>
    <a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>

    <div class="container pt-0">
        @if (podcastCategory.LessonList != null)
        {
            int c = 0;
            foreach (dynamic lessonGroup in podcastCategory.LessonList)
            {
                if (lessonGroup.ContentType.Alias == "lessonGroup" && ((LessonGroup)lessonGroup).Children.Count() > 0)
                {
                    LessonGroup currentLessonGroup = (LessonGroup)lessonGroup;
                    c++;

                    <div class="sec" id="@c"></div>
                    <a href="@currentLessonGroup.Url()">
                        <h2 class="title text-primary">@currentLessonGroup.Title</h2>
                    </a>
                    <div class="row  pl-3" style="text-align:center;">
                        @foreach (Lesson lesson in currentLessonGroup.Children)
                        {
                            <div class="col-lg-3 col-md-4 col-6 pl-0 " style="overflow:hidden">
                                <a href="@lesson.Url()">
                                    @if (lesson.New)
                                    {
                                        <div class="new">
                                            <div class="new-text">חדש</div>
                                        </div>
                                    }
                                    <div>
                                        <div class="image-container" style=" position: relative; display: flex; align-items: center; justify-content: center;">
                                            <span class="badge badge-pill badge-primary time">@lesson.Duration</span>
                                            @if (lesson.MembersOnly && !hasActiveMembership)
                                            {
                                                <i class="material-icons lock" aria-hidden="true" lang="en" translate="no">lock</i>
                                            }
                                            else
                                            {
                                                <i class="material-icons play" aria-hidden="true" lang="en" translate="no">play_circle_filled</i>
                                            }
                                            <img src="@Url.GetCropUrl(lesson.Image, "small")" alt="@lesson.ImageAlt" class="rounded img-fluid">
                                        </div>

                                    </div>
                                    <h5 style="line-height: 22px;" class="title m-2" class="title m-2">@lesson.Title</h5>
                                </a>
                            </div>
                        }
                    </div>
                    <hr />
                }
            }
        }
    </div>

    <script>
        function offsetAnchor() {
          if (location.hash.length !== 0) {
            window.scrollTo(window.scrollX, window.scrollY - 100);
          }
        }
        $(document).on('click', 'a[href^="#"]', function(event) {

          window.setTimeout(function() {
            offsetAnchor();
          }, 0);
        });
        window.setTimeout(offsetAnchor, 0);
    </script>
    <script src="/js/vertical-nav.js"></script>
}
